
{% extends "layout.xml.tera" %}
{% block content %}

<title>{{ lib }} | {{ authors | length() }} Authors</title>

  {% for author in authors %}
  <entry>
    <title>{{ author.name }}</title>
    <id>ORCA:Authors{{ author.id }}</id>
  <link href="/{{ lib }}/authors/{{ author.id }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <content type="text">Books by {{ author.name }}</content>
  </entry>
  {% endfor %}

{% endblock content %}
