
{% extends "layout.xml.tera" %}
{% block content %}

  <title>Books</title>

  {% for book in books %}
  <entry>
    <title>{{ book.title }}</title>
    <id>ORCA:Books:{{ book.id }}</id>
  <link href="{{ base_url }}/book/{{ book.id }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <content type="text">{{ book.title }}</content>
  </entry>
  {% endfor %}

{% endblock content %}
