{% extends "layout.xml.tera" %}
{% block content %}

  <title>ORCA</title>

  {% for lib in libraries %}
  <entry>
  <title>{{ lib }}</title>
  <link href="/{{ lib }}" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
  <content type="text">{{ lib }}</content>
  </entry>
  {% endfor %}

{% endblock content %}

