{% extends "layout.xml.tera" %}
{% block content %}

<title>{{ lib }}</title>

  <entry>
    <title>Authors</title>
    <id>urn:orca:{{ lib }}:authors</id>
    <link href="/{{ lib }}/authors" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <updated>{{ updated }}</updated>
    <content type="text">Authors</content>
  </entry>

  <entry>
    <title>Tags</title>
    <id>urn:orca:{{ lib }}:tags</id>
    <link href="/{{ lib }}/tags" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <updated>{{ updated }}</updated>
    <content type="text">Tags</content>
  </entry>

  <entry>
    <title>All Books</title>
    <id>urn:orca:{{ lib }}:books</id>
  <link href="/{{ lib }}/books" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
    <updated>{{ updated }}</updated>
    <content type="text">All Books (Titles)</content>
  </entry>
{% endblock content %}

